<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119582380691-kbk8uf7msgepde1qkibpqnbtjbrqp9lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119582380691-kbk8uf7msgepde1qkibpqnbtjbrqp9lg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>119582380691-adqoteb4dau5asr0t923h3s34outdjp3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNcARst9nEGHqq_FEM-cSUC9IDZQNANbE</string>
	<key>GCM_SENDER_ID</key>
	<string>119582380691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kinetic.gym</string>
	<key>PROJECT_ID</key>
	<string>kinetic-647bb</string>
	<key>STORAGE_BUCKET</key>
	<string>kinetic-647bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119582380691:ios:91c9d960c8311e24cbf366</string>
</dict>
</plist>